<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="community-cordova-plugin-ram"
        version="1.0.0">
    <name>Cordova Plugin RAM</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/eyalin/community-cordova-plugin-ram.git</repo>
    <issue>https://github.com/eyalin/community-cordova-plugin-ram/issues</issue>

    <!-- android -->
    <platform name="android">
        <js-module src="www/plugin.js" name="RamPlugin">
            <runs/>

            <!-- This is the window variable name you want, like window.RamPlugin -->
            <clobbers target="RamPlugin" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RamPlugin">
                <param name="android-package" value="ramplugin.RamPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/RamPlugin.java" target-dir="src/android" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="RamPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="RamPlugin">
                <param name="ios-package" value="RamPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/RamPlugin.h" />
        <source-file src="src/ios/RamPlugin.m" />
    </platform>
</plugin>
