<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="community-cordova-plugin-cpu"
        version="1.0.1">
    <name>Cordova Plugin CPU</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/eyalin/community-cordova-plugin-cpu.git</repo>
    <issue>https://github.com/eyalin/community-cordova-plugin-cpu/issues</issue>

    <!-- android -->
    <platform name="android">
        <js-module src="www/plugin.js" name="CpuPlugin">
            <runs/>

            <!-- This is the window variable name you want, like window.CpuPlugin -->
            <clobbers target="CpuPlugin" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CpuPlugin">
                <param name="android-package" value="cpuplugin.CpuPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/CpuPlugin.java" target-dir="src/android" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="CpuPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="CpuPlugin">
                <param name="ios-package" value="CpuPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CpuPlugin.h" />
        <source-file src="src/ios/CpuPlugin.m" />
    </platform>
</plugin>
